GitHub.Profile/.vs/
GitHub.Profile/bin/
GitHub.Profile/obj/
src/Arima/obj/
src/GitHub.Profile/.vs/
src/GitHub.Profile/bin/
src/GitHub.Profile/obj/
src/.vs/
src/Arima/bin/
src/CSharp.Basico/obj/
src/Principios/obj/
